@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  background: #11101d;
  padding: 6px 14px;
}

.logo {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_name {
  font-size: 20px;
  font-weight: 400;
}

#btn {
  position: absolute;
  color: #fff;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul > li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.sidebar ul > li a:link,
.sidebar ul > li a:visited {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 12px;
}

.sidebar ul > li a:link:hover,
.sidebar ul > li a:visited:hover {
  color: #11101d;
  background-color: #fff;
}

.sidebar ul > li a:link i,
.sidebar ul > li a:visited i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar ul > li > i.bx-search {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
}

.sidebar ul > li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.sidebar ul > li span.tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background-color: #fff;
  line-height: 35px;
  text-align: center;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0s;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar ul > li:hover .tooltip {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1;
}

.sidebar .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background-color: #1d1b31;
}

.sidebar .profile_content .profile .profile_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .profile_content .profile .profile_details img {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.sidebar .profile_content .profile .profile_details .name_job {
  margin-left: 10px;
}

.sidebar .profile_content .profile .profile_details .name_job .name {
  font-size: 15px;
  font-weight: 400;
}

.sidebar .profile_content .profile .profile_details .name_job .job {
  font-size: 12px;
}

.sidebar #log_out {
  position: absolute;
  left: 88%;
  bottom: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
}

.home_content {
  position: absolute;
  height: 100%;
  width: calc(100% - 240px);
  left: 240px;
}

.home_content .text {
  font-size: 25px;
  font-weight: 500;
  color: #1d1b32;
  margin: 12px;
}
/*# sourceMappingURL=style.css.map */