@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;

    .logo {
        color: #fff;
        display: flex;
        height: 50px;
        width: 100%;
        align-items: center;
        opacity: 0;
        pointer-events: none;
    }

    .logo i {
        font-size: 28px;
        margin-right: 5px;
    }

    .logo_name {
        font-size: 20px;
        font-weight: 400;
    }

    #btn {
        position: absolute;
        color: #fff;
        left: 50%;
        top: 6px;
        font-size: 20px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        transform: translateX(-50%);
    }

    ul {
        margin-top: 20px;

        & > li {
            position: relative;
            height: 50px;
            width: 100%;
            margin: 0 5px;
            list-style: none;
            line-height: 50px;

            &:first-child {
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(29, 28, 49, 1);
                border-radius: 12px;
            }

            a > span {
                display: none;
            }

            a:link,
            a:visited {
                color: #fff;
                display: flex;
                align-items: center;
                text-decoration: none;
                transition: all 0.4s ease;
                border-radius: 12px;

                &:hover {
                    color: #11101d;
                    background-color: #fff;
                }

                i {
                    height: 50px;
                    min-width: 50px;
                    border-radius: 12px;
                    line-height: 50px;
                    text-align: center;
                }
            }

            & > .bx-search {
                position: absolute;
                z-index: 99;
                color: #fff;
                font-size: 22px;
                transition: all 0.5s ease;
            }

            & > .bx-search:hover {
                background: #fff;
                color: #1d1b31;
            }

            input {
                display: none;
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                border-radius: 12px;
                border: none;
                outline: none;
                background: #1d1b31;
                padding-left: 50px;
                font-size: 18px;
                color: #fff;
            }

            span.tooltip {
                // display: none;
                position: absolute;
                left: 78px;
                top: 0;
                transform: translateY(-50%);
                border-radius: 6px;
                height: 35px;
                width: 122px;
                background-color: #fff;
                line-height: 35px;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                transition: 0s;
                opacity: 0;
                pointer-events: none;
            }

            &:hover .tooltip {
                transition: all 0.5s ease;
                // display: block;
                top: 50%;
                opacity: 1;
            }
        }
    }

    .profile_content {
        position: absolute;
        color: #fff;
        bottom: 0;
        left: 0;
        width: 100%;

        .profile {
            display: none;
            position: relative;
            padding: 10px 6px;
            height: 60px;
            background-color: #1d1b31;

            .profile_details {
                display: flex;
                align-items: center;

                img {
                    width: 45px;
                    height: 45px;
                    object-fit: cover;
                    border-radius: 12px;
                }

                .name_job {
                    // border: 1px solid red;
                    margin-left: 10px;

                    .name {
                        font-size: 15px;
                        font-weight: 400;
                    }

                    .job {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    #log_out {
        position: absolute;
        left: 50%;
        bottom: 5px;
        transform: translateX(-50%);
        min-width: 50px;
        line-height: 50px;
        font-size: 20px;
        border-radius: 12px;
        background-color: rgba(29, 28, 49, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 78px;

    .text {
        font-size: 25px;
        font-weight: 500;
        color: #1d1b32;
        margin: 12px;
    }
}

.home_content_left {
    left: 342px;
}

.active {
    width: 340px;
    z-index: 1000;
    #btn {
        left: 90%;
    }
    .logo_content {
        .logo {
            opacity: 1;
            pointer-events: none;
        }
    }
    & > ul.nav_list > li {
        &:first-child {
            display: flex;
            justify-content: flex-end;

            i {
                margin-right: 12px;
            }
        }

        & > input {
            display: block;
        }

        & > span.tooltip {
            display: none;
        }

        & > a > span {
            display: block;
            transition: all 1s ease;
        }
    }

    .profile_content {
        .profile {
            display: block;
        }

        #log_out {
            left: 88%;
        }
    }
}
